html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0 auto;
	overflow-x: hidden;
	color: #222;
	line-height: 1.2;
	background-color: $color_body_bg;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, li, a, p {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: 400;
}

img, svg {
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	&:hover {
		color: $color_accent_2;
	}
}

button, select, input {
	padding: 0;
	outline: 0;
	border-width: 0;
}

address {
	font-style: inherit;
}

figure {
	margin: 0;
}

.icon {
	width: 16px;
	height: 16px;
	fill: #fff;
}

.part {
	&Features {
		background-color: $color_content_bg_1;
		&--bottom {
			background-color: $color_content_bg_4;
		}
	}
	&FooterCategories {
		background-color: $color_content_bg_2;
	}
}

.rateit {
	$color: #f6b800;
	&-selected {
		color: $color !important;
	}
	&-hover {
		color: darken($color,25%) !important;
	}
}

// Global Media
///////////////////////////////////////////////////////////
@include media-breakpoint-down(sm) {
	body {
		background-color:$color_content_bg_1;
	}
}
