// Colors
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
$color_accent_1: #2ca5fa;
$color_accent_2: #faca36;

$color_headerMain_txt: #fff;
$color_headerMain_bg_1: #2c3942;
$color_headerMain_bg_2: #38464f;
