$topnav_height: 64px;
$sidebar_width: 256px;
$sidebar_transitionType: linear;
$sidebar_transitionSpeed: 300ms;
$sidebar_z: 10;

// Colors
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
$color_body_bg: #e0e0e0;

$color_content_bg_1: #fff;
$color_content_bg_2: #38464f;
$color_content_bg_3: #2c3942;

$color_accent_1: #2ca5fa;
$color_accent_2: #fb816a;

$color_header_txt: #fff;
