mixin Countdown
  ul.countdown
    li.countdown__digits #[span.countdown__digit.countdown__digit--hours]
    li.countdown__digits #[span.countdown__digit.countdown__digit--minutes]
    li.countdown__digits #[span.countdown__digit.countdown__digit--seconds]
