.deals {
	height: 382px;
	padding: 20px;
	text-align: center;
	background-color: #fff;
	&__title {
		@include fluidFontSize(24px, 40px, 320px, 1200px);
		line-height: 100%;
		font-weight: 700;
		color: $color_accent_1;
		text-transform: uppercase;
	}
	&__endIn {
		margin-bottom: 8px;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__photo {
		margin-top: 28px;
	}
	&__name {
		margin-top: 24px;
		font-weight: 700;
	}
	&__prices {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 22px;
		line-height: 100%;
	}
	&__currentPrice {
		font-size: 32px;
		color: $color_accent_1;
	}
}
