.features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	&--bottom {
		padding: 28px 0;
	}
}

@include media-breakpoint-up(sm) {
	.features {
		flex-direction: row;
	}
}

@include media-breakpoint-up(xl) {
	.features {
		justify-content: center;
		&--bottom {
			justify-content: space-between;
		}
	}
}
