.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  color: #4b4b4b;
  fill: $color_accent_1;
  &--bottom {
    padding: 28px 0;
    color: #fff;
    fill: #fff;
  }
}

@include media-breakpoint-up(sm) {
  .features {
    flex-direction: row;
  }
}

@include media-breakpoint-up(md) {
  .features {
    font-size: 15px;
  }
}

@include media-breakpoint-up(xl) {
  .features {
    justify-content: center;
    &--bottom {
      justify-content: space-between;
      & > * {
        width: auto;
      }
    }
  }
}
