.goQuickly {
	display: none;
}

@include media-breakpoint-up(lg) {
	.goQuickly {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: Spacer(2,y);
		padding: 21px;
		font-size: 18px;
		line-height: 100%;
		text-transform: capitalize;
		background-color: #fff;
		color: #080808;
		&__labelContainer {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		&__label {
			text-transform: none;
			color: inherit;
		}
		&__icon {
			width: 0.933em;
			height: 0.933em;
			margin: 0 11px;
			flex-shrink: 0;
			align-self: flex-start;
			transform: rotate(-90deg);
			fill: $color_accent_1;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			list-style: none;
		}
		&__item {
			width: 16.16%;
			display: flex;
			padding: 5px 0;
			justify-content: center;
		}
		&__link {
			color: inherit;;
			text-align: center;
		}
	}
}

@include media-breakpoint-up(xl) {
	.goQuickly {
		flex-direction: row;
		font-size: 15px;
		&__labelContainer {
			margin-bottom: 0;
		}
		&__list {
			justify-content: flex-start;
		}
		&__item {
			width: auto;
			padding: 0;
			&:not(:first-of-type) {
				&:before {
					content: ":";
					margin: 0 10px;
				}
			}
		}
		&__link {
			text-align: left;
		}
	}
}
