.index {
  &__features {
    background-color: $color_content_bg_1;
		&--bottom {
			background-color: $color_content_bg_4;
		}
  }
  &__bottomNav {
    background-color: $color_content_bg_2;
  }
  &__footer {
    background-color: $color_content_bg_3;
  }
}

@include media-breakpoint-down(sm) {
	.index {
		background-color:$color_content_bg_1;
	}
}
