mixin ButtonCart
  button.buttonCart
    span.buttonCart__container
      +Icon("shopping-cart", false, "buttonCart__icon")
      span.buttonCart__count 0
      +Icon("arrow-angle", false, "buttonCart__icon buttonCart__icon--arrow")
