.newsletterSignup {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  &__input {
    padding: 0 13px;
    font-size: 14px;
    color: #fff;
    flex-grow: 1;
    background-color: transparent;
  }
  &__buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    background-color: $color_accent_1;
    width: 42px;
    height: 38px;
  }
}

@include media-breakpoint-up(lg) {
  .newsletterSignup {
    max-width: 292px;
  }
}
