mixin Deals
  div.deals
    h1.deals__title Today's deals
    h4.deals__endIn End in
    ul.countDown
      li.countDown__digits #[span.countDown__digit.countDown__digit--hours]
      li.countDown__digits #[span.countDown__digit.countDown__digit--minutes]
      li.countDown__digits #[span.countDown__digit.countDown__digit--seconds]
    img.deals__photo(src=require('assets/images/deals.png') width="172" height="137" alt="Samsung 16GB MicroSD Class 6")
    h5.deals__name Samsung 16GB MicroSD Class 6
    div.deals__prices
      h6.deals__offPrice #[del Rs 499] [30% OFF]
      h3.deals__currentPrice Rs 350
