mixin Features(isBottom)
  .features(class=isBottom && 'features--bottom')
    +Feature("plane", "Free shipping", "In order min $200")
    +Feature("time", "30-days returns", "Money back guarantee")
    +Feature("life-preserver", "24/7 support", "Lifestyme support")
