mixin SearchBar
  -
    var categories = [
      {value: 'all', label: 'All categories', selected: true},
      {value: 'fashion', label: 'Fashion', selected: false},
      {value: 'booksmedia', label: 'Books & media', selected: false},
      {value: 'clearance', label: 'Clearance', selected: false},
      {value: 'mobile', label: 'Mobile phones', selected: false},
    ];

  form.searchbar(action="search.php" method="GET")
    select.searchbar__categories(name="category")
      for item in categories
        option.searchbar__category(value=item.value selected=item.selected)= item.label
    div.searchbar__search
      input.searchbar__input(type="search" name="search" placeholder="Search entire store here...")
      button.searchbar__button(type="submit")
        +Icon("search", false, "searchbar__icon")
