mixin Tabs
  -
    var items = [
      {href: '#', label: 'Fashion store'},
      {href: '#', label: 'Books & media'},
      {href: '#', label: 'Clearance sale'},
      {href: '#', label: 'Mobile phones'},
    ];
  div.tabs
    for item in items
      a.tabs__tab(href=item.href)= item.label
