mixin GoQuickly
  .goQuickly
    .goQuickly__labelContainer
      b.goQuickly__label Go quickly to
      +Icon("arrow-circle", false, "goQuickly__icon")
    ul.goQuickly__list
      each item in menuLinks
        li.goQuickly__item
          a(class="goQuickly__link" href=item.url)= item.label
