include components/accountLink.pug
include components/accountMenu.pug
include components/buttonCart.pug
include components/deals.pug
include components/feature.pug
include components/features.pug
include components/followUs.pug
include components/footer.pug
include components/goQuickly.pug
include components/header.pug
include components/icon.pug
include components/menuLink.pug
include components/mobileHeader.pug
include components/news.pug
include components/newsletterSignup.pug
include components/offCategory.pug
include components/product.pug
include components/products.pug
include components/searchBar.pug
include components/shopEverything.pug
include components/sideArrow.pug
include components/sidebar.pug
include components/siteLinks.pug
include components/slide.pug
include components/slider.pug
include components/support.pug
include components/tabs.pug

-
	var supportLinks = [
		{label: 'Contact Us', url: '#'},
		{label: 'Help', url: '#'},
	];

	var menuLinks = [
		{label: 'Mobiles', url: '#'},
		{label: 'Sports', url: '#'},
		{label: 'Tables', url: '#'},
		{label: 'Bath towels', url: '#'},
		{label: 'LED bulbs', url: '#'},
		{label: 'TV', url: '#'},
		{label: 'Washing machines', url: '#'},
		{label: 'Laptops', url: '#'},
		{label: 'Headphones', url: '#'},
		{label: 'Fans', url: '#'},
		{label: 'Travel', url: '#'},
		{label: 'Books', url: '#'},
	];

	var offCategories1 = [
		{label: 'Apple Mobile', href: '#'},
		{label: 'Samsung Mobile', href: '#'},
		{label: 'Micromax Mobile', href: '#'},
		{label: 'Nokia Mobile', href: '#'},
		{label: 'Apple Mobile', href: '#'},
		{label: 'HTC Mobile', href: '#'},
	];

	var offCategories2 = [
		{label: 'Bags and Wallets', href: '#'},
		{label: 'Belts', href: '#'},
		{label: 'Bootees', href: '#'},
		{label: 'Cold Weather', href: '#'},
		{label: 'Jewelry', href: '#'},
		{label: 'Ties and Hats', href: '#'},
	];

	var offCategories3 = [
		{label: 'Bras', href: '#'},
		{label: 'Hair Accessories', href: '#'},
		{label: 'Hars and Gloves', href: '#'},
		{label: 'Lifestyle', href: '#'},
		{label: 'Scarves', href: '#'},
		{label: 'Small Leathers', href: '#'},
	];

	var products = [
		{name: 'Samsung 16GB MicroSD Class 6', price: 499, discount: 30, image: 'assets/images/product_1.jpg'},
		{name: 'Samsung 16GB MicroSD Class 6', price: 499, discount: 30, image: 'assets/images/product_2.jpg'},
		{name: 'Samsung 16GB MicroSD Class 6', price: 499, discount: 30, image: 'assets/images/product_3.jpg'},
		{name: 'Samsung 16GB MicroSD Class 6', price: 499, discount: 30, image: 'assets/images/product_4.jpg'},
		{name: 'Samsung 16GB MicroSD Class 6', price: 499, discount: 30, image: 'assets/images/product_5.jpg'},
	];

	var siteLinks = [
		{
			title: 'Help',
			links: [
				{label: 'Contact Customer Service', href: '#'},
				{label: 'ScoreCard', href: '#'},
				{label: 'Product Availability', href: '#'},
				{label: 'Recalls', href: '#'},
				{label: 'Return Policy', href: '#'},
				{label: 'Shipping Rates', href: '#'},
			],
		},
		{
			title: 'Company',
			links: [
				{label: 'About Us', href: '#'},
				{label: 'Affiliate Program', href: '#'},
				{label: 'Careers', href: '#'},
				{label: 'Gift Shop', href: '#'},
				{label: 'Group Sales', href: '#'},
				{label: 'Contact us', href: '#'},
			],
		},
		{
			title: 'My account',
			links: [
				{label: 'Your Account', href: '#'},
				{label: 'Information', href: '#'},
				{label: 'Addresses', href: '#'},
				{label: 'Orders history', href: '#'},
				{label: 'Delivery information', href: '#'},
				{label: 'Search terms', href: '#'},
			],
		},
		{
			title: 'Informations',
			links: [
				{label: 'Terms and conditions', href: '#'},
				{label: 'About us', href: '#'},
				{label: 'Sitemap', href: '#'},
				{label: 'Contact', href: '#'},
				{label: 'Return policy', href: '#'},
				{label: 'Suppliers', href: '#'},
			],
		},
	];

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title MoCart — eCommerce PSD Template
	body.index
		+MobileHeader
		+Sidebar
		+Header
		.index__features
			.container
				+Features(false)
		.container.m-t-2.m-b-3
			.row
				.col-md-6.col-xl-8
					+Slider
				.col-md-6.col-xl-4
					+Deals
			+GoQuickly
			.row
				.col-md-4.m-t-2
					+OffCategory("20% off on Mobiles & more.*", offCategories1)
						+SideArrow(false)
				.col-md-4.m-t-2
					+OffCategory("50% off on Fashion wear & more.*", offCategories2, "second")
				.col-md-4.m-t-2
					+OffCategory("20% off activewear & more.*", offCategories3, "third")
						+SideArrow(true)
			+Products("Leatest products", products)
			+Products("Clearance Sale", products)
			+Products("Your Recently Viewed items", products)
		.index__features.index__features--bottom
			.container
				+Features(true)
		.index__bottomNav
			.container
				nav.bottomNav
					for item in siteLinks
						section.bottomNav__section
							h4.bottomNav__header= item.title
							+SiteLinks(item.links)
					section.bottomNav__section
						h4.bottomNav__header Sale news
						+News
						+FollowUs
		.index__footer
			.container
				+Footer
