mixin Slider
  -
    var slides = [
      {name: "slide_1", url: "#"},
      {name: "slide_2", url: "#"},
      {name: "slide_3", url: "#"},
      {name: "slide_4", url: "#"},
    ];

  .swiper-container
    .swiper-wrapper
      each slide, i in slides
        +Slide(slides[i].name,slides[i].url)
